<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1580894736036-7a68513983ec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
    <div id ="sign-up-banner" class="container">
      <h1><strong>Sign Up</strong></h1>
      <p>Join our community of programmers</p>
      <%# <div class="input-group rounded">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
      </span> %>
      <%# <%= link_to "Browse tutors", listings_path, class: "btn btn-gradient" %> %>
    </div>
    </div>
</div>


<div class="conatiner">
  <div class="row justify-content-center">
    <div id="sign-up-cont" class="col-6">
      <h2 id="sign-up-header">Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name,
                    required: true,
                    input_html: { autocomplete: "first-name" } %>
          <%= f.input :last_name,
                    required: true,
                    input_html: { autocomplete: "last-name" } %>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div id="sign-up-btn" class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn-gradient" %>
        </div>
      <% end %>

      <h4 id="h4-sign-up">Already signed up?</h4>
      <div id="login-sign-up"><%= render "devise/shared/links" %></div>


      <%# <div id="login-btn">
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

  <div id="sign-up-footer" class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Rent-a-Dev <i class="fas fa-terminal"></i>
    </div>
  </div>
</body>
