<h2><%= @listing.title %></h2>
<hr>
<span><%= link_to "Edit", edit_listing_path %></span>
<span>
  <%= link_to "Delete", listing_path(@listing), method: :delete, data: {confirm: "Are you sure?"}  %>
</span>
<span><%= link_to "Back", listings_path %></span>
<p>Description:<%= @listing.description %></p>
<p>Price: £<%= @listing.price %> </p>

<div class="flexbox">
  <div class="cards">
    <div class="card">
      <img src="https://constructionmaguk.co.uk/wp-content/uploads/2018/06/do-developer-profile.png" class="img-card" alt="picture man">
        <h2>Dan Sterling</h2>
        <p>BA computer science</p>
    <div class="card-flex"><p>£20ph</p><button>book now</button></div>
  </div>
    <div class="cardtwo">
      <h3>name</h3>
      <p>something about qualifications</p>
      <button>push</button>
      <button>push</button>
    </div>
  </div>
