<%= simple_form_for [ @listing,@booking ] do |f| %>
  <%= f.input :startdate, as: :datetime, html5: true %>
  <%= f.input :finishdate, as: :datetime, html5: true %>
  <p>Price:<%=  %> </p>
  <%= f.submit %>
<% end %>
